<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>Category Statistics</title>
</head>
<body>
<h3>Category Statistics</h3>
<table>
    <thead>
    <tr>
        <th>Category</th>
        <th>Total Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${categoryTotalMap}">
        <td th:text="${entry.key.name}"></td>
        <td th:text="${entry.value}"></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>
